body{
    font-family:'Roboto','Kosugi', sans-serif;
}
.title{
    font-family: 'Arvo', serif;
    font-size: 3em;
    padding-bottom: 0px;
    margin-bottom:0px;
}
.subtitle{
    padding-top:0px;
    margin-top:0px;
}
.gen_btn{
    max-width:300px;
    width:100%;
    background: #BBB;
    color:#fff;
    font-family: 'Roboto','Kosugi', sans-serif;
    font-size: 1.3em;
}